
<a href="javascript:void(0)" style="cursor:pointer"
    (click)="downloadFile('./assets/files/awardTemplate.docx','award.docx')">
    Download PDF
</a> -->

<div class="container">

    <div class="row">

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <h4> CALL FOR ABSTRACT</h4>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <p> The conference theme will be "Biomedical Materials Innovations" a challenge for our society to pursue
                innovation in biomedical materials in partnership of emerging technology to build future therapeutic
                hybrid products and functionalities.</p>
        </div>

    </div>


    <div class="row">

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <h4> Theme</h4>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <p> Additive Manufacturing & 3D Bioprinting</p>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <p> Biosensors</p>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <p> Bio-Inspired Materials and Processes</p>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <p> Biomaterials for Tissue Engineering</p>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <p>Bioactive Hydrogel</p>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <p> Bio photonics and Biomedical optics</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <p> Biomaterials Vaccines</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <p> Bioceramics</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <p> Bio Glass</p>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <p>Bio Composites</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <p>Cardiovascular Biomaterials</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <p>Cell Biomaterials Interactions</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <p>Dental Biomaterials</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <p>Clinical Applications of Biomaterials</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <p>Commercialisation of Biomaterials</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <p>Drug Delivery System and Smart Functionalization</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <p>Metastable Phases and Self-Healing Materials</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <p>Magnetic Nanoceramics for Theranostics</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <p>Polymeric Biomaterials</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <p>Nano Biomaterials</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <p>Natural Biomaterials</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <p>Orthopaedic Biomaterials</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <p>Porous Biomaterials for Regenerative Medicine</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <p>Surface Modifications and Biomimetic Coatings</p>
        </div>
    </div>


    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <h4>
                <p> Submit your Abstract</p>
            </h4>
        </div>

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <p> Authors are requested to submit the abstract on or before 15 November 2020.</p>
            </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <p> Those authors who wish to compete for MAHE "Young Scientist Award" and Bajpai-Saha "Student
                        Award" need to submit extended abstract with a minimum of 2000 words containing all results and
                        images with key references. Only those who satisfy these criteria will be considered for awards
                    </p>
                </div>

        </div>

  <button class="btn">test
                    <fa-icon [icon]="filmIcon"></fa-icon>
                </button> 
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <button class="btn-success"  (click)="downloadFile('./assets/files/awardTemplate.docx','award.docx')">Oral/Poster Abstract Template
                </button>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <button class="btn-success" (click)="downloadFile('./assets/files/abstractTemplate.docx','abstract.docx')">MAHE/Bajpai-Saha Award Abstract Template
                </button>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <button class="btn-success" (click)="onNavigate('https://zfrmz.in/0F2AEQXcnTMiQhqLJvcj')">Abstract Submission
                </button>
            </div>
        </div>

    </div>
</div>

<br><br>
<br>

