<br>

<html>

<head>
 </head>

<div class="container">
    <div class="row">
        <div class="abstract-page">
            <div class="row">

                <!--     <div class="pt-3 col-lg-4 col-xl-4 col-md-12 col-sm-12">
                <a href="javascript:void(0)" style="cursor:pointer"
                (click)="downloadFile('./assets/files/awardTemplate.docx','award.docx')">
                <button class="btn btn-primary">Download PDF <i class="fa fa-download"></i> </button>
                </a>
            
            </div> -->


                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <h3> CALL FOR ABSTRACTS</h3>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <p style="font-size: 17.5px; font-size: 17px;">
                        <!-- The conference theme will be <b> "Biomedical Materials Innovations" </b>a challenge for our society to pursue
                    innovation in biomedical materials in partnership of emerging technology to build future therapeutic
                    hybrid products and functionalities. -->
                        Innovations in <b>Biomedical Materials Reasearch </b> Challenges faced by our society in pursuing
                        innovative research in biomedical materials with the help of emerging technologies to create
                        futuristic hybrid therapeutic products and functionalities.

                    </p>
                </div>

            </div>
        </div>


        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 pt-4 pb-2">
                <h3 class="" style="text-align: center; text-transform: uppercase;"> Themes</h3>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <p> <i class="fa fa-hand-o-right"></i> Additive Manufacturing & 3D Bioprinting</p>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <p> <i class="fa fa-hand-o-right"></i> Biosensors</p>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <p> <i class="fa fa-hand-o-right"></i> Bio-Inspired Materials and Processes</p>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <p> <i class="fa fa-hand-o-right"></i> Biomaterials for Tissue Engineering</p>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <p> <i class="fa fa-hand-o-right"></i> Bioactive Hydrogel</p>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <p> <i class="fa fa-hand-o-right"></i> Bio photonics and Biomedical optics</p>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <p> <i class="fa fa-hand-o-right"></i> Biomaterials Vaccines</p>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <p> <i class="fa fa-hand-o-right"></i> Bioceramics</p>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <p> <i class="fa fa-hand-o-right"></i> Bio Glass</p>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <p> <i class="fa fa-hand-o-right"></i> Bio Composites</p>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <p> <i class="fa fa-hand-o-right"></i> Cardiovascular Biomaterials</p>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <p> <i class="fa fa-hand-o-right"></i> Cell Biomaterials Interactions</p>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <p> <i class="fa fa-hand-o-right"></i> Dental Biomaterials</p>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <p> <i class="fa fa-hand-o-right"></i> Clinical Applications of Biomaterials</p>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <p> <i class="fa fa-hand-o-right"></i> Commercialisation of Biomaterials</p>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <p> <i class="fa fa-hand-o-right"></i> Drug Delivery System and Smart Functionalization</p>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <p> <i class="fa fa-hand-o-right"></i> Metastable Phases and Self-Healing Materials</p>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <p> <i class="fa fa-hand-o-right"></i> Magnetic Nanoceramics for Theranostics</p>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <p> <i class="fa fa-hand-o-right"></i> Polymeric Biomaterials</p>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <p> <i class="fa fa-hand-o-right"></i> Nano Biomaterials</p>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <p> <i class="fa fa-hand-o-right"></i> Natural Biomaterials</p>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <p> <i class="fa fa-hand-o-right"></i> Orthopaedic Biomaterials</p>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <p> <i class="fa fa-hand-o-right"></i> Porous Biomaterials for Regenerative Medicine</p>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <p> <i class="fa fa fa-hand-o-right"></i> Surface Modifications and Biomimetic Coatings</p>
            </div>

        </div>


        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 pt-5 pb-2">
                <h3 style="text-align: center; text-transform: uppercase;">
                    Submit your Abstract
                </h3>
            </div>

            <div class="abstract-page">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <p> Authors are requested to submit the abstract on or before 15 November 2020.</p>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <p> Those authors who wish to compete for MAHE "Young Scientist Award" and Bajpai-Saha "Student
                        Award" need to submit extended abstract with a minimum of 2000 words containing all results and
                        images with key references. Only those who satisfy these criteria will be considered for awards
                    </p>
                </div>



                <div class="row">

                    <div class="pt-3 col-lg-4 col-xl-4 col-md-12 col-sm-12">
                        <a href="javascript:void(0)" style="cursor:pointer"
                            (click)="downloadFile('./assets/files/abstractTemplate.docx','abstract.docx')">
                            <button class="btn btn-primary">Oral/Poster Abstract Template <i class="fa fa-download"></i>
                            </button>
                        </a>

                    </div>

                    <div class="pt-3 col-lg-4 col-xl-4 col-md-12 col-sm-12">
                        <a href="javascript:void(0)" style="cursor:pointer"
                            (click)="downloadFile('./assets/files/awardTemplate.docx','award.docx')">
                            <button class="btn btn-primary">MAHE/Bajpai-Saha Award Abstract Template <i
                                    class="fa fa-download"></i> </button>
                        </a>

                    </div>

                    <div class="pt-3 col-lg-4 col-xl-4 col-md-12 col-sm-12">
                        <a href="javascript:void(0)" style="cursor:pointer"
                            (click)="onNavigate('https://zfrmz.in/0F2AEQXcnTMiQhqLJvcj')">
                            <button class="btn btn-primary">Abstract Submission <i class="fa fa-arrow-circle-right"></i>
                            </button>
                        </a>

                    </div>
                    <!--  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 pt-2 pb-4">
                <button class="btn-success"  (click)="downloadFile('./assets/files/awardTemplate.docx','award.docx')">Oral/Poster Abstract Template
                    <i class="fa fa-download"></i>
                </button>
            </div>  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 pt-2 pb-4">
                <button class="btn-success" (click)="downloadFile('./assets/files/abstractTemplate.docx','abstract.docx')">MAHE/Bajpai-Saha Award Abstract Template
                    <i class="fa fa-download"></i>
                </button>
            </div> 
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 pt-2 pb-4">
                <button class="btn-success" (click)="onNavigate('https://zfrmz.in/0F2AEQXcnTMiQhqLJvcj')">Abstract Submission
                    <i class="fa fa-arrow-circle-right"></i>
                </button>
            </div>-->
                </div>
            </div>
        </div>
    </div>
</div>
<br>

</html>