<div class="container">
    <div class="row">

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 pb-3 pt-3">
                    <h4><img src="assets/images/award/trophy2.jpg" width="30px"> Chandra P. Sharma Award</h4>
                    <p>
                        Dr. Chandra P. Sharma was recognized by the Society with a distinguished Scientist award (1991)
                        and
                        the award subsequently is known as Chandra P. Sharma Award. Society recognizes the distinguished
                        scientists working in the area of Biomaterials and Artificial Organs from time to time with
                        Chandra
                        P. Sharma Award
                    </p>
                    <!-- <span> <a href="chandra-award.html">Chandra</a> -->
                    
                <!-- </span> -->

                </div>
            
        </div>
    </div>
    </div>
</div>
