<br>
<div class="container">
    <div class="row" style="text-align: center;">

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" style="text-align: center;">
            <h4><img src="assets/images/award/trophy2.jpg" width="30px"> Chandra P. Sharma Award</h4>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" style="text-align: center;">
            <h4><img src="assets/images/speakers/dr_laurencin.jpg" width="100px"></h4>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" style="text-align: center;">
            <i>
                <p> Professor Cato T. Laurencin</p>

                <p>University Professor</p>

                <p>The University of Connecticut, USA</p>
            </i>
        </div>



        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

            <p>
                Albert, and Wilda Van Dusen Distinguished Professor of Orthopaedic Surgery Professor of Chemical
                and Biomolecular Engineering Professor of Materials Science and Engineering Professor of
                Biomedical Engineering, Director The Raymond and Beverly Sackler Center for Biomedical,
                Biological, Physical and Engineering Sciences Chief Executive Officer The Connecticut
                Convergence Institute for Translation in Regenerative Engineering
            </p>
            <p>

                Professor Cato T. Laurencin is internationally renowned and recognized in Biomaterials Science.
                He is the University Professor and Albert and Wilda Van Dusen Distinguished Endowed Professor at
                the University of Connecticut. Professor Laurencin is an Academician of the Chinese Academy of
                Engineering, a Fellow of the Indian National Academy of Engineering, a Fellow of the National
                Academy of Sciences, India, a Fellow of the African Academy of Sciences and a Fellow of The
                World Academy of Sciences.
            </p>
            <p>
                He earned his B.S.E. in Chemical Engineering from Princeton University, then earned his Ph.D. in
                Biochemical Engineering/Biotechnology from the Massachusetts Institute of Technology where he
                graduated with a 4.9/5.0 grade point average and was designated a Hugh Hampton Young Fellow. At
                the same time he earned his M.D. from the Harvard Medical School where he graduated Magna Cum
                Laude, the highest honors given in his class year, and received the Robinson Award for surgery.
            </p>
            <p>
                Laurencin published the seminal papers and patents on nanomaterials science for tissue
                regeneration. His pioneering work on the development of polymer-ceramic systems for bone
                regeneration was specifically cited in being named one of the 100 Engineers of the Modern Era by
                the American Institute of Chemical Engineers. His basic and applied polymer research has
                resulted in technologies for soft tissue regeneration. This work was specifically highlighted by
                National Geographic Magazine in its “100 Discoveries That Changed The World” edition.
            </p>
            <p>
                In Biomaterials, Professor Laurencin received the Founders Award, the Clemson Award for
                Contributions to the Biomaterials Literature, and the Technology Innovation and Development
                Award from the Society for Biomaterials. The Society for Biomaterials created the Cato T.
                Laurencin Travelling Fellow Award in his honor. He received the first Biomaterials Global
                Leadership Award from the Chinese Association of Biomaterials and has received the Acta
                Biomaterialia Gold Medal.
            </p>
            <p>
                Professor Laurencin is the recipient of the Von Hipple Award, the highest honor of the Materials
                Research Society.
            </p>
            <p>
                Professor Laurencin is the pioneer of the field of Regenerative Engineering. He is the first to
                receive both the National Institutes of Health (NIH) Director’s Pioneer Award, and the National
                Science Foundation (NSF) Emerging Frontiers in Research and Innovation Award for this field. For
                his work, the American Association for the Advancement of Science awarded Dr. Laurencin the
                Philip Hauge Abelson Prize given ‘for signal contributions to the advancement of science in the
                United States’. He received the National Medal of Technology and Innovation, America’s highest
                honor for technological achievement, presented to him by President Barack Obama in ceremonies at
                the White House.
            </p>
            <p>
                Professor Laurencin is an elected member of the National Academy of Engineering, an elected
                member of the National Academy of Medicine, and an elected member of the American Academy of
                Arts and Sciences. He is the first and only individual to receive both the oldest/highest award
                of the National Academy of Engineering (the Simon Ramo Founder’s Award) and the oldest/highest
                award of the National Academy of Medicine (the Walsh McDermott Medal). He received the Founder’s
                Award for ‘fundamental, critical, and groundbreaking scientific advances in the engineering of
                tissues’.

            </p>
            <!-- <span> <a href="chandra-award.html">Chandra</a> -->

            <!-- </span> -->


        </div>
    </div>
</div>