<div class="container">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                <div class="core col-xl-12 col-lg-12 col-md-12 col-sm-12 pt-5">
                    <h2>National Advisory Committee</h2>
                </div>



                <div class="advisory col-xl-4 col-lg-4 col-md-6 col-sm-6 pt-4">
                    <h5>Prof. Dr. K. Murugan</h5>
                    <h6>Registrar i/c, Bharathiar University,</h6>
                    <h6>Coimbatore</h6>
                </div>

                <div class="advisory col-xl-4 col-lg-4 col-md-6 col-sm-6 pt-4">
                    <h5>Prof. Dr. N. Rajendran</h5>
                    <h6>Anna University,</h6>
                    <h6>Chennai</h6>
                </div>

                <div class="advisory col-xl-4 col-lg-4 col-md-6 col-sm-6 pt-4">
                    <h5>Prof. Dr. D. Gopi</h5>
                    <h6>Periyar University,</h6>
                    <h6>Salem</h6>
                </div>

                <div class="advisory col-xl-4 col-lg-4 col-md-6 col-sm-6 pt-4">
                    <h5>Prof. Dr. S. Balakumar</h5>
                    <h6>University of Madras,</h6>
                    <h6>Chennai</h6>
                </div>

                <div class="advisory col-xl-4 col-lg-4 col-md-6 col-sm-6 pt-4">
                    <h5>Prof. Dr. Bharath Raja Guru</h5>
                    <h6>Manipal Institute of Technology,</h6>
                    <h6>Karnataka</h6>
                </div>

                <div class="advisory col-xl-4 col-lg-4 col-md-6 col-sm-6 pt-4">
                    <h5>Prof. Dr. P. Sakthivel</h5>
                    <h6>Bharathiar University,</h6>
                    <h6>Coimbatore</h6>
                </div>
                <div class="advisory col-xl-4 col-lg-4 col-md-6 col-sm-6 pt-4">
                    <h5>Prof. Dr. Geetha Manivasagam </h5>
                    <h6>Vellore Institute of Technology (VIT), </h6>
                    <h6>Vellore</h6>
                </div>
                <div class="advisory col-xl-4 col-lg-4 col-md-6 col-sm-6 pt-4">
                    <h5>Prof. Dr. R. Selvaraju </h5>
                    <h6>Annamalai University, </h6>
                    <h6>Chidambaram </h6>

                </div>

                <div class="advisory col-xl-4 col-lg-4 col-md-6 col-sm-6 pt-4">
                    <h5>Prof. Dr. T. Parimelazhagan </h5>
                    <h6>Bharathiar University, </h6>
                    <h6>Coimbatore </h6>
                </div>
                <div class="advisory col-xl-4 col-lg-4 col-md-6 col-sm-6 pt-4">
                    <h5>Prof. Dr. P. P. Vijaya </h5>
                    <h6>Bharathiar University, </h6>
                    <h6>Coimbatore </h6>

                </div>

                <div class="advisory col-xl-4 col-lg-4 col-md-6 col-sm-6 pt-4">
                    <h5>Prof. Dr. R.T.Rajendra Kumar </h5>
                    <h6>Bharathiar University, </h6>
                    <h6>Coimbatore </h6>
                </div>

                <div class="advisory col-xl-4 col-lg-4 col-md-6 col-sm-6 pt-4">

                    <h5>Dr. Manoj Komath </h5>
                    <h6>SCTIMST, </h6>
                    <h6>Trivandrum</h6>
                </div>


                <div class="advisory col-xl-4 col-lg-4 col-md-6 col-sm-6 pt-4">

                    <h5>Dr. R. Srinivasan </h5>
                    <h6> Member Secretary, TNSCST,</h6>
                    <h6>Chennai</h6>

                </div>

                <div class="advisory col-xl-4 col-lg-4 col-md-6 col-sm-6 pt-4">
                    <h5>Dr. S. Kannan </h5>
                    <h6>Pondicherry University,</h6>
                    <h6>Pondicherry</h6>
                </div>
                <div class="advisory col-xl-4 col-lg-4 col-md-6 col-sm-6 pt-4">
                    <h5>Dr. C. Viswanathan </h5>
                    <h6>Bharathiar University, </h6>
                    <h6>Coimbatore </h6>
                </div>
                <div class="advisory col-xl-4 col-lg-4 col-md-6 col-sm-6 pt-4">
                    <h5>Dr. P. Premasudha </h5>
                    <h6>Bharathiar University, </h6>
                    <h6>Coimbatore </h6>
                </div>

                <div class="advisory col-xl-4 col-lg-4 col-md-6 col-sm-6 pt-4">
                    <h5>Dr. S Sasikumar </h5>
                    <h6>Vellore Institute of Technology (VIT), </h6>
                    Vellore
                </div>
                <div class="advisory col-xl-4 col-lg-4 col-md-6 col-sm-6 pt-4">
                    <h5>Dr. U. Vijayalakshmi </h5>
                    <h6>Vellore Institute of Technology (VIT), </h6>
                    <h6>Vellore </h6>

                </div>

                <div class="advisory col-xl-4 col-lg-4 col-md-6 col-sm-6 pt-4">
                    <h5>Dr. Biswanath kundu </h5>
                    <h6>Central Glass and Ceramic Research Institute (CGCRI), </h6>
                    <h6>Kolkata</h6>

                </div>
                <div class="advisory col-xl-4 col-lg-4 col-md-6 col-sm-6 pt-4">



                    <h5>Dr. Ibram Ganesh </h5>
                    <h6>International Advanced Research Centre for Powder Metallurgy & New Materials (ARCI), </h6>
                    <h6>Hyderabad. </h6>

                </div>

                <div class="advisory col-xl-4 col-lg-4 col-md-6 col-sm-6 pt-4">
                    <h5>Dr. Rinti Banerjee </h5>
                    <h6>Indian Institute of Technology </h6>
                    <h6>Bombay,</h6>
                </div>

                <div class="advisory col-xl-4 col-lg-4 col-md-6 col-sm-6 pt-4">
                    <h5>Dr. R Selvakumar </h5>
                    <h6>PSG Institute of Advanced Studies, </h6>
                    <h6>Coimbatore </h6>
                </div>

                <div class="advisory col-xl-4 col-lg-4 col-md-6 col-sm-6 pt-4">

                    <h5>Dr. Kavitha Louis </h5>
                    <h6>Central University of Tamil Nadu, </h6>
                    <h6>Thiruvarur </h6>

                </div>

                <div class="advisory col-xl-4 col-lg-4 col-md-6 col-sm-6 pt-4">
                    <h5>Dr. M. Ilanchelian </h5>
                    <h6>Bharathiar University, </h6>
                    <h6>Coimbatore </h6>
                </div>

                <div class="advisory col-xl-4 col-lg-4 col-md-6 col-sm-6 pt-4">
                    <h5>Mr. H. Vijayakumar, MS, FBAO </h5>
                    <h6>Director of Research Management & Promotor Trumed Lifescience Solutions Pvt ltd, </h6>
                    <h6> Epione Swajal solutions India LLP</h6>
                </div>

                <div class="advisory col-xl-4 col-lg-4 col-md-6 col-sm-6 pt-4">
                    <h5>Dr. Kaladhar Kamalasanan </h5>
                    <h6>AMRITA School of Pharmacy, </h6>
                    <h6>Kochi </h6>
                </div>



            </div>
        </div>
    </div>

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="row">
            <div class="core col-xl-12 col-lg-12 col-md-12 col-sm-12 pt-5">
                <h2>International Advisory Committee</h2>
            </div>

            <div class="advisory col-xl-4 col-lg-4 col-md-6 col-sm-6 pt-4">
                <h5>Prof. Bala Vaidhyanathan</h5>
                <h6>Loughborough University,</h6>
                <h6>UK</h6>
            </div>

            <div class="advisory col-xl-4 col-lg-4 col-md-6 col-sm-6 pt-4">
                <h5>Prof J. M. F. Ferreira</h5>
                <h6>University of Aveiro,</h6>
                <h6>Portugal</h6>
            </div>

            <div class="advisory col-xl-4 col-lg-4 col-md-6 col-sm-6 pt-4">

                <h5>Prof. Yasuhiko Tabata</h5>
                <h6>University of Kyoto,</h6>
                <h6>Japan</h6>

            </div>

            <div class="advisory col-xl-4 col-lg-4 col-md-6 col-sm-6 pt-4">
                <h5>Dr. Khalil El Mabrouk</h5>
                <h6>Euro Med University,</h6>
                <h6>USA</h6>
            </div>

            <div class="advisory col-xl-4 col-lg-4 col-md-6 col-sm-6 pt-4">

                <h5>Dr. Lakshmi S. Nair</h5>
                <h6>University of Connecticut,</h6>
                <h6>USA</h6>
                <h6>ORGANISER</h6>

            </div>
        </div>
    </div>
</div>