<div class="container">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                <div class="core col-xl-12 col-lg-12 col-md-12 col-sm-12 pt-5">
                    <h2>National Advisory Committee</h2>
                </div>
                <div class="advisory col-xl-4 col-lg-4 col-md-6 col-sm-6 pt-4">
                    <h5>Prof. Dr. K. Murugan</h5>
                    <h6>Registrar i/c, Bharathiar University,</h6>
                       <h6>Coimbatore</h6>   
                </div>

                <div class="advisory col-xl-4 col-lg-4 col-md-6 col-sm-6 pt-4">
                    <h5>Prof. Dr. N. Rajendran</h5>
                    <h6>Anna University,</h6>
                       <h6>Chennai</h6>   
                </div>

                <div class="advisory col-xl-4 col-lg-4 col-md-6 col-sm-6 pt-4">
                    <h5>Prof. Dr. D. Gopi</h5>
                    <h6>Periyar University,</h6>
                       <h6>Salem</h6>   
                </div>

                <div class="advisory col-xl-4 col-lg-4 col-md-6 col-sm-6 pt-4">
                    <h5>Prof. Dr. S. Balakumar</h5>
                    <h6>University of Madras,</h6>
                       <h6>Chennai</h6>   
                </div>

                <div class="advisory col-xl-4 col-lg-4 col-md-6 col-sm-6 pt-4">
                    <h5>Prof. Dr. Bharath Raja Guru</h5>
                    <h6>Manipal Institute of Technology,</h6>
                       <h6>Karnataka</h6>   
                </div>
                

                <div class="core col-xl-12 col-lg-12 col-md-12 col-sm-12 pt-5">
                    <h2>International National Advisory Committee</h2>
                </div>

                <div class="advisory col-xl-4 col-lg-4 col-md-6 col-sm-6 pt-4">
                    <h5>Prof. Bala Vaidhyanathan</h5>
                    <h6>Loughborough University,</h6>
                       <h6>UK</h6>   
                </div>

                <div class="advisory col-xl-4 col-lg-4 col-md-6 col-sm-6 pt-4">
                    <h5>Prof J. M. F. Ferreira</h5>
                    <h6>University of Aveiro,</h6>
                       <h6>Portugal</h6>   
                </div>

            </div>
        </div>
    </div>
</div>
