<div class="container">
    <div class="row">

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 pb-3 pt-3">
                    <h4><img src="assets/images/award/trophy2.jpg" width="30px"> Chandra P. Sharma Award</h4>
                    <p class="award-para">
                        Dr. Chandra P. Sharma was recognized by the Society with a distinguished Scientist award (1991)
                        and
                        the award subsequently is known as Chandra P. Sharma Award. Society recognizes the distinguished
                        scientists working in the area of Biomaterials and Artificial Organs from time to time with
                        Chandra
                        P. Sharma Award
                    </p>
                    <span> <a href="chandra-award.html">Chandra</a>
                    
                </span>

                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 pb-3 pt-3">

                    <h4><img src="assets/images/award/trophy2.jpg" width="30px"> SBAOI-MAHE "Young Scientist Award"</h4>
                    <p  class="award-para">
                        The MAHE "Young Scientist Award" has been constituted for the best paper presented by a
                        scientist/academic faculty during the national conferences of the Society. There is an age limit
                        of
                        40 years for competing for MAHE "Young Scientist Award".

                    </p>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 pb-3 pt-3">
                    <h4><img src="assets/images/award/trophy2.jpg" width="30px"> SBAOI-Bajpai-Saha "Student Award"</h4>
                    <p  class="award-para"> The Bajpai-Saha "Student Award" is for the best student paper presented during the national
                        conferences of the Society. The students should be registered for any of the regular courses
                        i.e.
                        Ph.D., MSc, MS, B.Tech etc. Research Associates and Post Doctoral Fellows cannot apply for the
                        student award</p>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 pb-3 pt-3">
                    <h4><img src="assets/images/award/trophy2.jpg" width="30px"> The Best Article Award"</h4>
                    <p class="award-para">Paper Published in "Trends in Biomaterials & Artificial Organs" for the year of 2016, 2017, 2018, 2019 & 2020 will be awarded</p>
                </div>

            </div>
            
        </div>
    </div>
</div>
