<div class="container">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                <div class="core col-xl-12 col-lg-12 col-md-12 col-sm-12 pt-5"><h2>Convener</h2></div>
                <div class="convener col-xl-12 col-lg-12 col-md-12 col-sm-12 pt-3 pb-3">
                    <div class="chip">
                        <img src="assets/images/committee/ballamurugan.png" alt="ballamurugan" width="150"
                            height="150">
                        <h5><b>Dr. A. M. Ballamurugan</b></h5>
                        <p>Convener,ICBMI-2020</p>
                        <p> Bharathiar University</p>
                        <p> Coimbatore</p>

                    </div>
                </div>
                
                <div class="core col-xl-12 col-lg-12 col-md-12 col-sm-12 pt-5"><h2>Co-Convener</h2></div>
                <div class="convener col-xl-6 col-lg-6 col-md-6 col-sm-12 pt-5 pb-5">
                    <div class="chip">
                        <img src="assets/images/committee/sridhar.png" alt="sridhar" width="150" height="150">
                        <h5><b>Dr. T.M. Sridhar </b></h5>
                   
                        <p>Co-Convener</p>
                        <p>ICBMI-2020</p>
                        <p>University of Madras</p>
                        <p>Chennai</p>
                    </div>
                </div>

                <div class="convener col-xl-6 col-lg-6 col-md-6 col-sm-12 pt-5 pb-5">
                    <div class="chip">
                        <img src="assets/images/committee/bikramjit_basu.png" alt="sridhar" width="150" height="150">
                        <h5><b>Prof. Bikramjit Basu</b></h5>
                        <p>Co-Convener</p>
                        <p>ICBMI-2020</p>
                        <p>IISc,Bangalore</p>
                      

                    </div>
                </div>
                <div class="convener col-xl-6 col-lg-6 col-md-6 col-sm-12 pt-5 pb-5">
                    <div class="chip">
                        <img src="assets/images/committee/neetu.png" alt="neetu" width="150" height="150">
                        <h5><b>Dr. Neetu Singh</b></h5>
                        <span>Co-Convener</span>
                        <br>
                        <br>
                        <span>ICBMI-2020</span>
                        <br>
                        <br>
                        <span>Center for Biomedical Engineering</span>
                        <br>
                        <br>
                        <span> IIT Delhi</span>

                    </div>
                </div>
                <div class="convener col-xl-6 col-lg-6 col-md-6 col-sm-12 pt-5 pb-5">
                    <div class="chip">
                        <img src="assets/images/committee/biman.png" alt="biman_b_mandel" width="150" height="150">
                        <h5><b>Dr. Biman B. Mandal</b></h5>
                        <span>Co-Convener</span>
                        <br>
                        <br>
                        <span>ICBMI-2020</span>
                        <br>
                        
                        <span>Dept of Biosciences and Bioengineering</span>
                        <br>
                        <span> IIT Guwahati</span>

                    </div>
                </div>

               

            </div>
        </div>
    </div>
</div>
