<div class="container">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                <div class="speaker-headings col-xl-12 col-lg-12 col-md-12 col-sm-12 pt-3">
                    <h2 style="text-align: center;text-shadow: 2px 2px 5px #4dffff">SPEAKERS</h2>
                </div>
                <div class="speaker-headings col-xl-12 col-lg-12 col-md-12 col-sm-12 pt-5">
                    <h2 style="text-align: center;">Academic</h2>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/dr_laurencin.jpg" alt="dr_laurencin"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Prof. Cato T. Laurencin</b></h4>
                                <p>University Professor</p>
                                <p>The University of Connecticut</p>
                                <p>USA</p>
                            </div>
                        </div>
                    </div>
                </div>

             

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/vaidhynathan.jpg" alt="vaidhynathan"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Prof. Bala Vaidhyanathan</b></h4>
                                <p>Professor</p>
                                <p>Loughborough University</p>
                                <p>UK</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/tejal.jpg" alt="tejal"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Prof. Tejal Desai</b></h4>
                                <p>Department Chair & Professor</p>
                                <p>University of California</p>
                                <p>USA</p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/anna.jpeg" alt="annabel_braem"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Prof. Annabel Braem</b></h4>
                                <p>Professor</p>
                                <p>KU Leuven</p>
                                <p>Belgium</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/boccaccini.jpg" alt="boccaccini"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Prof. Dr. R. Boccaccini</b></h4>
                                <p>Chair of Material Science (Biomaterials)</p>
                                <p>University of Erlangen-Nuremberg</p>
                                <p>Germany</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/santanu_dhara.jpeg" alt="santanu_dhara"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Dr. Santanu Dhara</b></h4>
                                <p>Professor</p>
                                <p>Indian Institute of Technology-Kharagpur</p>
                                <p>INDIA</p>
                            </div>
                        </div>
                    </div>
                </div>
              

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/dr_malhotra.jpg" alt="dr_malhotra"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Prof. BD. Malhotra</b></h4>
                                <p>Professor</p>
                                <p>Indian National Science Academy</p>
                                <p>INDIA</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/anna_tamberi.jpeg" alt="anna_tamberi"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Dr. Anna Tampieri</b></h4>
                                <p>Director</p>
                                <p>ISTEC-CNR</p>
                                <p>Italy</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="speaker-headings col-xl-12 col-lg-12 col-md-12 col-sm-12" style="padding-top: 100px;">
                    <h2 style="text-align: center;">Medical Professional</h2>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/rajasababathy.jpg" alt="raja_sabapathy"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Dr. S. Raja Sabapathy FRCS</b></h4>
                                <p>Chairman</p>
                                <p>Division of Plastic, Hand Reconstructive, Microsurgery, Ganga Hospital</p>
                                <p>INDIA</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/dr_Palanivelu.jpg" alt="dr_palanivelu"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Dr. C. Palanivelu, FRCS</b></h4>
                                <p>Chairman, Professor & Director</p>
                                <p>GEM Hospital and Research Centre</p>
                                <p>INDIA</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/rajasekaran.jpg" alt="rajasekaran"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Prof. S. Rajasekaran FRCS</b></h4>
                                <p>Chairman</p>
                                <p>Division of Orthopaedics Trauma & Spine Surgery, Ganga Hospital</p>
                                <p>INDIA</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/arul_selvan.jpg" alt="arulselvan"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Dr. Arul Selvan, FRCP</b></h4>
                                <p>Consultant Neurologist</p>
                                <p>Royal Care Super Speciality Hospital Limited</p>
                                <p>INDIA</p>
                            </div>
                        </div>
                    </div>
                </div>

              
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/suresh_pillai.jpg" alt="suresh_pillai"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Dr. Suresh Pillai FRCS</b></h4>
                                <p>Consultant Spine surgeon</p>
                                <p>Baby Memorial Hospital</p>
                                <p>INDIA</p>
                            </div>
                        </div>
                    </div>
                </div>
              
                <div class="speaker-headings col-xl-12 col-lg-12 col-md-12 col-sm-12 pt-5" style="padding-top: 100px;">
                    <h2 style="text-align: center;">Industry</h2>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/sumant.jpg" alt="sumant"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Mr. Sumant Bhutoria</b></h4>
                                <p>CEO</p>
                                <p>Alfatek Systems</p>
                                <p>INDIA</p>
                            </div>
                        </div>
                    </div>
                </div>
                

            </div>
        </div>
    </div>
</div>
<br>
<br>