
<div class="container">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 p-4">

            <img class="img-circle p-2 col-xl-12 col-lg-12 col-md-12 col-sm-12" src="assets/images/organizer/LOGO copy.jpg" style="width:160px;height:160px;">

            <p>
                The Society for Biomaterials & Artificial Organs India (SBAOI) was formed in 1986 and registered under
                the Travancore-Cochin Act XII of 1955, (act for registration of literary, scientific and charitable
                societies) with the name Society for Biomaterials and Artificial Organs - India with the following
                objectives. This Society will not only cultivate an atmosphere nationwide for the growth of basic and
                technological oriented research in Biomaterials and Artificial Organs but also bring the professionals
                from various faculties together to improve the quality of their approach in future research. This is
                done by communication among all members, by developing a Society newsletter and also by arranging
                workshops with laboratory demonstrations, where learning and exchange of relevant concepts are
                stimulated every year. The Society is administered by its office bearers consisting of the President,
                two Vice presidents, the General Secretary and Treasurer elected from the executive committee
                constituted from the eligible members of the Society.

            </p>
        </div>


        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 p-3">

            <img class="img-circle p-2" src="assets/images/organizer/stermi.png" style="width:160px;height:150px;">

            <p>
                The Society for Tissue Engineering and Regenerative Medicine India (STERMI) was registered on April 25,
                2007 as a charitable society under the Travancore Cochin Literary Scientific and Charitable Societies
                Registration Act 1955 with a basic objective to integrate tissue engineering and eegenerative medicine
                to enhance the health care system and to bring the interdisciplinary scientists together for improving
                the related R&D in India. Dr. Chandra P Sharma attended the Executive Council meeting of Tissue
                Engineering and Regenerative Medicine International Society (TERMIS) at the Regenerate 2006, in the
                World Congress on Tissue Engineering and Regenerative Medicine in Pittsburg on April 26, 2006. Dr.
                Sharma was encouraged to initiate the Society in India. He communicated with many scientists and based
                on the favorable responses received, the Society for Tissue Engineering & Regenerative Medicine (India)
                was constituted.

            </p>
        </div>


        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 p-3">

            <img class="img-circle p-2" src="assets/images/about-us/bu.png" style="width:160px;height:150px;">

            <p>
                The Bharathiar University was established at Coimbatore by the Government of Tamilnadu,India in February, 1982
                under the provision of the Bharathiar University Act, 1981 (Act 1 of 1982). The Postgraduate Centre of
                the University of Madras, which was functioning in Coimbatore before 1982 formed the core of the
                Bharathiar University. In May, 1985 the University received the recognition from University Grants
                Commission (UGC) New Delhi for the purpose of grants.

                The University named after the great national poet Subramania Bharathi is enshrined with the motto
                “Educate to Elevate”. In the University, every effort is harnessed to realize his dream of making
                educational institutions as temple of learning. It is the aim of the University to participate in the
                task of inculcating necessary Knowledge, Skills and Creative Attitudes and values among the youth of the
                country to contribute more effectively towards establishing an equitable social and economic and secular
                ideal of our nation.

            </p>
        </div>
    </div>
</div>
