<div class="container">
    <div class="row">

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 pb-3 pt-3">
                    <h4><img src="assets/images/award/padge2.png" width="30px"> Bharathiar University-ICBMI-2020 “Special Award”</h4>

                    <p  class="award-para"> Prof. S. Rajeswari Award for “ Best Poster/ Oral Presentation Best poster awards will be
                        selected by a jury
                        of experts and awarded during the closing ceremony
                    </p>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 pb-3 pt-3">
                    <h4> <img src="assets/images/award/padge2.png" width="30px">Best Researcher Award</h4>
                    <p  class="award-para">
                        Only presented work in ICBMI-SBAOI-2020 will be considered for this work.
                    </p>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 pb-3 pt-3">
                   <h4> <img src="assets/images/award/padge2.png" width="30px">Poster/Oral Award</h4>
                    <p  class="award-para">
                        Best poster awards will be selected by a jury of experts and awarded during the closing
                        ceremony.
                    </p>
                </div>

            </div>
            
        </div>
    </div>
</div>

