<div class="container">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                <div class="core col-xl-12 col-lg-12 col-md-12 col-sm-12 pt-3">
                    <h2>Core Committee</h2>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 pt-5">
                    <div class="chip">
                        <img src="assets/images/committee/kaliraj.png" alt="kaliraj" width="150" height="150">
                        <h5><b>Prof. P. Kaliraj</b></h5>
                        <br />

                        <p>Honorable Vice Chancellor</p>
                        <p>Bharathiar University</p>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5 pb-3">
                    <div class="chip">
                        <img src="assets/images/committee/sharma.png" alt="kaliraj" width="150" height="150">
                        <h5><b>Prof. C. P. Sharma</b></h5>
                        <br />
                        <p>Founder President</p>
                        <p>SBAOI</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5 pb-3">
                    <div class="chip">
                        <img src="assets/images/committee/veena.png" alt="veena" width="150" height="150">
                        <h5><b>Prof. Veena Koul</b></h5>
                        <br />

                        <p>President</p>
                        <p> SBAOI</p>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5 pb-3">
                    <div class="chip">
                        <img src="assets/images/committee/bhuvanesh_gupta.png" alt="bhuvanesh" width="150"
                            height="150">
                        <h5><b>Prof. Bhuvanesh Guptha</b></h5>
                        <br />

                        <p>President </p>
                        <p>STERMI</p>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5 pb-3">
                    <div class="chip">
                        <img src="assets/images/committee/bikramjit_basu.png" alt="sridhar" width="150" height="150">
                        <h5><b>Prof. Bikramjit Basu </b></h5>
                        <br />
                        <p>Vice President</p>
                        <p>SBAOI</p>

                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5 pb-3">
                    <div class="chip">
                        <img src="assets/images/committee/sridhar.png" alt="sridhar" width="150" height="150">
                        <h5><b>Dr. T.M. Sridhar </b></h5>
                        <br />
                        <br />
                        <p>Secretary</p>
                        <p>SBAOI</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="chip">
                        <img src="assets/images/committee/ponpandian.png" alt="ponpandian" width="150" height="150">
                        <h5><b>Prof. N. Ponpandian</b></h5>
                        <br>
                        <p>Chairman</p>
                        <p>ICBMI-2020</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5 pb-3">
                    <div class="chip">
                        <img src="assets/images/committee/ballamurugan.png" alt="ballamurugan" width="150"
                            height="150">
                        <h5><b>Dr. A. M. Ballamurugan</b></h5>
                        <br>
                        <p>Convener</p>
                        <p> ICBMI-2020</p>
                    </div>
                </div>

                
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5 pb-3">
                    <div class="chip">
                        <img src="assets/images/committee/ashok_kumar.png" alt="ashok_kumar" width="150" height="150">
                        <h5><b>Prof. Ashok Kumar</b></h5>
                        <br />
                        <p>IIT-K</p>
                        <p>Kanpur</p>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5 pb-3">
                    <div class="chip">
                        <img src="assets/images/committee/hk_varma.png" alt="hk_varma" width="150" height="150">
                        <h5><b>Dr. H. K. Varma </b></h5>
                        <br />

                        <p>Head BMT Wing</p>
                        <p>SCTIMST</p>
                    </div>
                </div>

                
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5 pb-3">
                    <div class="chip">
                        <img src="assets/images/committee/ts_sambath.png" alt="ts_sambath" width="150" height="150">
                        <h5><b>Prof. T. S. Sambath Kumar</b></h5>
                        <br />

                        <p>IIT-M</p>
                        <p>Chennai</p>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5 pb-3">
                    <div class="chip">
                        <img src="assets/images/committee/vishwa.png" alt="vishwa" width="150" height="150">
                        <h5><b>Prof. Vishwa P Shrivastava</b></h5>
                        <br />

                        <p>Biomedical College</p>
                        <p>Nepal</p>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5 pb-3">
                    <div class="chip">
                        <img src="assets/images/committee/kanakaraj.png" alt="kanakaraj" width="150" height="150">
                        <h5><b>Prof. S. Kanagaraj</b></h5>
                        <br />

                        <p>IIT-G</p>
                        <p>Guwahati</p>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>