html,body,.container{
    width: 100%;
    height:100%;
    padding:0;
    margin:0;
}

body {

    font-family: Arial, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

          
nav{
    background-color: #87CEFA;
        ul {
            list-style-type: none;
                li {
                    display: block;
                    padding: 15px;
                    text-align: center;
                    border: none !important;
                    &.active {
                       
                        a {
                            color: black;
                            background-color: lightgrey;
                            height:10px;
                           padding: 7px;
                           border-radius: 0.75rem;
                        }
                    }
                    a {
                        color: #ffffff;
                        text-decoration: none;
                    }
                }
        }
    }

   
    .highlight{
                a:hover{
                    // background-color:;
                    padding:7px;
                    color:indigo !important;
                }
                
            }
   

.nav:after{
    clear:both;
}

.image-logo{
    widows: 10%;
    height: 10%;
}

footer{
    background-color: black;
    position: relative;
    left:0;
    bottom:0;
    color:white;
}


.dropdown-menu{
    position: absolute;
    z-index:500;
}

.logo-text{
    font-size: 25px;
    color:black !important;
    font-weight: bold;
    padding:0 5px 0 5px;
}


.align-vertical{
    -ms-flex-align: center!important;
    align-items: center!important;
    display: flex;
    justify-content: center;
}

.highlight .icon {
    display: none;
  }

  @media screen and (max-width: 600px) {
    .highlight a:not(:first-child) {display: none;}
    .highlight a.icon {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 600px) {
    .highlight.responsive {position: relative;}
    .highlight.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .highlight.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

