<div class="container">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="chip">
                        <img src="\assets\images\committee\kaliraj.png" alt="kaliraj" width="150" height="150">
                        <h5><b>Prof. P. Kaliraj</b></h5>
                        <br />
                        <br />
                        <p>Honorable Vice Chancellor</p>
                        <p>Bharathiar University</p>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="chip">
                        <img src="\assets\images\committee\sharma.png" alt="kaliraj" width="150" height="150">
                        <h5><b>Prof. C. P. Sharma</b></h5>
                        <br />
                        <br />
                        <p>Founder President, SBAOI</p>
                    </div>
                </div>


                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="chip">
                        <img src="\assets\images\committee\veena.png" alt="veena" width="150" height="150">
                        <h5><b>Prof. Veena Koul</b></h5>
                        <br />
                        <br />
                        <p>President, SBAOI</p>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="chip">
                        <img src="\assets\images\committee\bhuvanesh_gupta.png" alt="bhuvanesh" width="150"
                            height="150">
                        <h5><b>Prof. Bhuvanesh Guptha</b></h5>
                        <br />
                        <br />
                        <p>President STERMI</p>
                    </div>

                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="chip">
                        <img src="\assets\images\committee\bikramjit_basu.png" alt="sridhar" width="150" height="150">
                        <h5><b>Prof. Bikramjit Basu </b></h5>
                        <p>Vice President, SBAOI, IISc, Bangalore</p>
                        <p>Co-Convener of ICBMI</p>

                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="chip">
                        <img src="\assets\images\committee\sridhar.png" alt="sridhar" width="150" height="150">
                        <h5><b>Dr. T.M. Sridhar </b></h5>
                        <br />
                        <br />
                        <p>Secretary, SBAOI</p>
                        <p>Co-Convener of ICBMI</p>


                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="chip">
                        <img src="\assets\images\committee\ballamurugan.png" alt="ballamurugan" width="150"
                            height="150">
                        <h5><b>Dr. A. M. Ballamurugan</b></h5>

                        <p>Convener, ICBMI-2020</p>
                        <p> Bharathiar University</p>
                    </div>

                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="chip">
                        <img src="\assets\images\committee\ponpandian.png" alt="ponpandian" width="150" height="150">
                        <h5><b>Prof. N. Ponpandian</b></h5>
                        <p>Chairman, ICBMI-2020</p>
                        <p> Bharathiar University</p>
                    </div>

                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="chip">
                        <img src="\assets\images\committee\biman.png" alt="biman_b_mandel" width="150" height="150">
                        <h5><b>Dr. Biman B. Mandal</b></h5>
                        <p>Co-Convener of ICBMI</p>

                        <p>Department of Biosciences and Bioengineering, IIT Guwahati</p>

                    </div>

                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="chip">
                        <img src="\assets\images\committee\neetu.png" alt="neetu" width="150" height="150">
                        <h5><b>Dr. Neetu Singh</b></h5>
                        <p>Co-Convener of ICBMI</p>

                        <p>Center for Biomedical Engineering, IIT Delhi</p>
                    </div>

                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="chip">
                        <img src="\assets\images\committee\ashok_kumar.png" alt="ashok_kumar" width="150" height="150">
                        <h5><b>Prof. Ashok Kumar</b></h5>
                        <br />
                        <br />
                        <p>IIT-K Kanpur</p>
                    </div>
                </div>


                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="chip">
                        <img src="\assets\images\committee\hk_varma.png" alt="hk_varma" width="150" height="150">
                        <h5><b>Dr. H. K. Varma </b></h5>
                        <br />
                        <br />
                        <p>Head BMT wing, SCTIMST</p>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="chip">
                        <img src="\assets\images\committee\ts_sambath.png" alt="ts_sambath" width="150" height="150">
                        <h5><b>Prof. T. S. Sambath Kumar</b></h5>
                        <br />
                        <br />
                        <p>IIT-M, Chennai</p>
                    </div>

                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="chip">
                        <img src="\assets\images\committee\vishwa.png" alt="vishwa" width="150" height="150">
                        <h5><b>Prof. Vishwa P Shrivastava</b></h5>
                        <br />
                        <br />
                        <p>Biomedical College, Nepal</p>
                    </div>

                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="chip">
                        <img src="\assets\images\committee\kanakaraj.png" alt="kanakaraj" width="150" height="150">
                        <h5><b>Prof. S. Kanagaraj</b></h5>
                        <br />
                        <br />
                        <p>IIT-G, Guwahati</p>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>
<br>