
<div class="container-fluid">

    <div class="row">
        <div class="container">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="announce pt-5">

          
            <h1 class="glow pt-2"><b>
                INTERNATIONAL CONFERENCE ON BIOMEDICAL MATERIALS INNOVATION - 2020
                </b>
            </h1>

            <h4 class="pt-3">30th SBAOI ANNUAL MEETING & 13th STERMI ANNUAL MEETING</h4>
            <h4 class="pt-3">DECEMBER 06 to 09, 2020 -VIRTUAL CONFERENCE</h4>
            
            <img class="img-circle p-3" src="\assets\images\organizer\sboai.png" style="width:150px;height:150px;">            
            <img class="img-circle p-3" src="assets/images/organizer/stermi.png" style="height:130px">


            <div class=" pt-3 home-border col-xl-12 col-lg-12 col-md-12 col-sm-12">
               <h5 class="home-abstract">Abstract Submission Before, 15th Nov 2020 </h5>
            </div>
            

    <div class="homepara pt-5">
        
        <p>
            We are pleased to announce that “30TH ANNUAL SBAOI MEETING & INTERNATIONAL CONFERENCE ON BIOMEDICAL
            MATERIALS INNOVATION-2020 (ICBMI-2020)” will be held from 6/12/2020 to 9/12/2020
       </p>
       <p>
           The conference theme will be "Biomedical Materials Innovations" a challenge for our society to pursue
           innovation in biomedical materials in partnership with emerging technology to build future therapeutic
           hybrid products and functionalities.
       </p>
       <p> We request the honour of your presence at the inaugural ceremony of ICBMI-2020 on 06 Dec 2020 at IST of
           18:00 hrs and C. P. Sharma award plenary lecture at IST of 18:30 hrs. The Conference will take place in
           the virtual environment due to the unforeseen COVID-19 pandemic.

           We are looking forward to welcoming you
       </p>
    </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">

            <div class="row">
               


                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    Conference Date
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    06 to 09 Dec 2020
                </div>


                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    Reach Us
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    convener@sbaoi.co.in
                </div>

            </div>
        </div>
        </div>
    </div>

</div>
</div>
</div>