.homePage {
    img {
        width: 40%;
        height: 40%;
        margin: 10px;
        float: left;
    }
    // section {}
}

.container-fluid{
    width: 100%;
    height:100%;
    padding:0;
    margin:0;
}

.container-fluid{
    
    background-image:url("/assets/images/logo/4.jpg");
    // background-color: black;
    padding-right:-100px;
    background-repeat:no-repeat;
    background-size:cover ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.home-abstract{
    border: 2px double yellow;
    background-color: lightslategray;
    text-shadow: 2px 2px black;
}

.homepara{
    font-size: 17.5px;
}


.announce{
    color: white !important;
    text-align: center;

}


.glow{
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    text-shadow: 2px 2px #0095ff;
    
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 20px #fff, 0 0 10px, 0 0 20px #8a8a87, 0 0 50px #99ff99, 0 0 30px #afafac, 0 0 60px;
    }
    
    to {
      text-shadow: 0 0 20px rgb(48, 46, 46), 0 0 30px #99ff99, 0 0 40px #99ff99, 0 0 50px #e2dfe1, 0 0 60px #99ff99, 0 0 0px #ffffb3;
    }
  }

.organizer-images{
    width:120px;
    height:100px;
}

.circle-img{
    border-radius: 50%;
}
