
<div class="container-fluid">
    <div class="row">
        <div class="container">
                 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            
                <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5"> -->
                    <div class="announce pt-3">

                        <h1 class="glow pt-2"><b>
                            INTERNATIONAL CONFERENCE ON BIOMEDICAL MATERIALS INNOVATION - 2020
                            </b>
                        </h1>
    
                        <h4 class="pt-2">30th SBAOI ANNUAL MEETING & 13th STERMI ANNUAL MEETING</h4>
                        <h4 class="pt-2">DECEMBER 06 to 09, 2020 -VIRTUAL CONFERENCE</h4>
                        
                        <img class="img-circle p-3" src="\assets\images\organizer\sboai.png" style="width:150px;height:150px;">            
                        <img class="img-circle p-3" src="assets/images/organizer/stermi.png" style="height:130px">
    
    
                        <div class="home-border col-xl-12 col-lg-12 col-md-12 col-sm-12">
                   <!-- <h5 class="home-abstract p-2"><marquee behavior="scroll" direction="left" scrollamount="9">   Abstract Submission Before, 15th Nov 2020  |  Conference Date 06 to 09 Dec 2020 </marquee></h5> -->
                        <h5 class="home-abstract p-2"> 
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-3 col-sm-3" style="border-right: 2px solid black;">
    
                            ABSTRACT SUBMISSION 
                            <div>
                                Before, 15th Nov 2020
                            </div>
                    
                         </div>
                        <div class="col-xl-4 col-lg-4 col-md-3 col-sm-3" style="border-right: 2px solid black;">
                            CONFERENCE DATE 
                                <div>
                                    06 to 09 Dec 2020
                                </div>
                        
                        </div>
                    <div class="col-xl-4 col-lg-4 col-md-3 col-sm-3">
                        REACH US
                        <div>
                            convener@sbaoi.co.in
                        </div>
                    </div>
                        </div>
                    </h5>
                    
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 pt-5">
                    <b>
                    <p>
                        We are pleased to announce that “30TH ANNUAL SBAOI MEETING & INTERNATIONAL CONFERENCE ON BIOMEDICAL
                        MATERIALS INNOVATION-2020 (ICBMI-2020)” will be held from 6/12/2020 to 9/12/2020
                   </p>
                   <p>
                       The conference theme will be "Biomedical Materials Innovations" a challenge for our society to pursue
                       innovation in biomedical materials in partnership with emerging technology to build future therapeutic
                       hybrid products and functionalities.
                   </p>
                   <p> We request the honour of your presence at the inaugural ceremony of ICBMI-2020 on 06 Dec 2020 at IST of
                       18:00 hrs and C. P. Sharma award plenary lecture at IST of 18:30 hrs. The Conference will take place in
                       the virtual environment due to the unforeseen COVID-19 pandemic.
            
                       We are looking forward to welcoming you
                   </p>
                   </b>
                </div>
                </div>

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 pt-3">
                        <h3 class="p-5" style="text-align: center;text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em darkblue;">ORGANIZER</h3>
                     <div class="row">
                            <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 pb-5">
                                <a href="http://www.sbaoi.org/new/index.htm" style="cursor: pointer;">
                                <img src="\assets\images\organizer\sba.png" alt="">
                               </a>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 pb-5">
                                <a href="http://www.stermi.org.in/" style="cursor: pointer;">
                                <img src="\assets\images\organizer\str.png" alt="">
                                </a>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 pb-5">
                                <img src="\assets\images\organizer\bu.png" alt="">
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 pb-5" >
                                <img src="\assets\images\organizer\iis.png" alt="">
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 pb-5">
                                <img src="\assets\images\organizer\unom.png" alt="">
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 pb-5">
                                <img src="\assets\images\organizer\iitd.png" alt="">
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 pb-5">
                                <img src="\assets\images\organizer\iitg.png" alt="">
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 pb-5">
                                <img src="\assets\images\organizer\abi.png" alt="">
                            </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
