<div class="container-fluid">
    <div class="row">
        <div class="container">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

                <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5"> -->
                <div class="announce pt-3">

                    <h1 class="glow pt-2"><b>
                            INTERNATIONAL CONFERENCE ON BIOMEDICAL MATERIALS INNOVATION - 2020
                        </b>
                    </h1>

                    <h4 class="pt-2">30th SBAOI ANNUAL MEETING & 13th STERMI ANNUAL MEETING</h4>
                    <h4 class="pt-2">DECEMBER 06 to 09, 2020 -VIRTUAL CONFERENCE</h4>
                    <a (click)="onNavigate('http://www.sbaoi.org/new/index.htm')" style="cursor: pointer;">

                        <img class="img-circle p-3" src="assets/images/logo/sba_old.png"
                            style="width:150px;height:150px;">
                    </a>
                    <a (click)="onNavigate('http://www.sbaoi.org/new/index.htm')" style="cursor: pointer;">

                        <img class="img-circle p-3" src="assets/images/organizer/stermi.png" style="height:130px">
                    </a>

                    <div class="home-border col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <!-- <h5 class="home-abstract p-2"><marquee behavior="scroll" direction="left" scrollamount="9">   Abstract Submission Before, 15th Nov 2020  |  Conference Date 06 to 09 Dec 2020 </marquee></h5> -->

                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-3 col-sm-3">
                                <h5 class="home-abstract p-2">
                                    ABSTRACT SUBMISSION
                                    <div>
                                        Before, 15th Nov 2020
                                    </div>
                                </h5>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-3 col-sm-3">
                                <h5 class="home-abstract p-2">
                                    CONFERENCE DATE
                                    <div>
                                        06 to 09 Dec 2020
                                    </div>
                                </h5>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-3 col-sm-3 b-1">
                                <h5 class="home-abstract p-2">
                                    REACH US
                                    <div>
                                        convener@sbaoi.co.in
                                    </div>
                                </h5>
                            </div>
                        </div>

                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 pt-5">
                            <b>
                                <p>
                                    We are pleased to announce that “30th ANNUAL SBAOI MEETING & INTERNATIONAL
                                    CONFERENCE ON BIOMEDICAL
                                    MATERIALS INNOVATION-2020 (ICBMI-2020)” will be held from 6/12/2020 to 9/12/2020
                                </p>
                                <p>
                                    Innovations in <b>Biomedical Materials Reasearch </b> Challenges faced by our society in
                                    pursuing innovative research in biomedical materials with the help of emerging
                                    technologies to create futuristic hybrid therapeutic products and functionalities.
                                    <!--   The conference theme will be "Biomedical Materials Innovations" a challenge for our
                                    society to pursue
                                    innovation in biomedical materials in partnership with emerging technology to build
                                    future therapeutic
                                    hybrid products and functionalities. -->
                                </p>
                                <p> We request the honour of your presence at the inaugural ceremony of ICBMI-2020 on 06
                                    Dec 2020 at
                                    18:00 hrs IST and C. P. Sharma award plenary lecture at 18:30 hrs IST. The
                                    Conference
                                    will take place in
                                    the virtual environment due to the unforeseen COVID-19 pandemic.

                                    We look forward to welcoming you
                                </p>
                            </b>
                        </div>
                    </div>

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 pt-3">
                        <h3 class="p-5"
                            style="text-align: center;text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em darkblue;">
                            ORGANIZERS</h3>
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 pb-5" style="height: 10px; width:20px">
                                <a (click)="onNavigate('http://www.sbaoi.org/new/index.htm')" style="cursor: pointer;">
                                    <img class="circle-img" src="assets/images/organizer/sba_old.png" alt="">
                                </a>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 pb-5">
                                <a (click)="onNavigate('http://www.sbaoi.org/new/index.htm')" style="cursor: pointer;">
                                    <img class="circle-img" src="assets/images/organizer/str.png" alt="">
                                </a>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 pb-5">
                                <a (click)="onNavigate('https://b-u.ac.in/')" style="cursor: pointer;">
                                    <img class="circle-img" src="assets/images/organizer/bu_old.png" alt="">
                                </a>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 pb-5">
                                <a (click)="onNavigate('https://iisc.ac.in/')" style="cursor: pointer;">
                                    <img class="circle-img" src="assets/images/organizer/iis.png" alt="">
                                </a>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 pb-5">
                                <a (click)="onNavigate('https://unom.ac.in/')" style="cursor: pointer;">
                                    <img class="circle-img" src="assets/images/organizer/unom.png" alt="">
                                </a>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 pb-5">
                                <a (click)="onNavigate('https://home.iitd.ac.in/')" style="cursor: pointer;">
                                    <img class="circle-img" src="assets/images/organizer/iitd.png" alt="">
                                </a>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 pb-5">
                                <a (click)="onNavigate('https://iitg.ac.in/')" style="cursor: pointer;">
                                    <img class="circle-img" src="assets/images/organizer/iitg.png" alt="">
                                </a>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 pb-5">
                                <a (click)="onNavigate('https://abinnovus.com/')" style="cursor: pointer;">
                                    <img class="circle-img" src="assets/images/organizer/abi.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>