<br>
<div class="container">
  <!-- Stack the columns on mobile by making one full-width and the other half-width -->
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">


          <h4>
            Registration Fee Structure</h4>
          <ul>
            <li>To participate in the conference every one must register and pay the registration fee.</li>
            <li>If you are a listener you should register as  participating.
            </li>

            <li>if you are a presenter (Oral/Poster) you should register as presenting.
            </li>
            <li>The registration fee is based on your citizenship.
            </li>
            <li>The postdoctoral fellows will not be considered as a student.
            </li>
            <li>E-certificate will be provided to all the conference participants and presenters.
            </li>
          </ul>
        </div>

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

          <h4>FEE GUIDELINES</h4>
          <ul>
            <li>Fee will be collected through online banking  </li>
            <li>Banking details and registration form will be updated soon</li>

            <li>The fee structure is divided into three categories </li>

            <ul>
              <li>Early bird</li>
              <li>Regular</li>
              <li>Conference Day </li>
              
            </ul>
          </ul>
        </div>

      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
      <h4> Conference Registration Fee Overview </h4>
      <h6><span class="redApply">**</span> Register as Oral/Poster</h6>

      <div table-responsive>
    
        <table class="table table-striped">
          <thead class="thead-light">
            <!-- <tr>
              <th scope="col" rowspan="2">Type</th>

              <th scope="col" rowspan="2">Category</th>
              <th scope="col" colspan="4">Slabs</th>
            </tr> -->

            <tr>

              <th scope="col">Type</th>

              <th scope="col">Category</th>
              <th scope="col">Early Bird </th>
              <th scope="col">Regular </th>
              <th scope="col">Conference </th>

              <!--    <th scope="col">1</th>
              <th scope="col">2</th>
              <th scope="col">3</th> -->
              <!-- <th scope="col">4</th> -->
            </tr>

          </thead>
          <tbody>
            <tr></tr>
            <tr>
              <td rowspan="2">Domestic Student</td>



              <td>Presenting<span class="redApply">**</span></td>
              <td>₹ 500</td>
              <td>₹ 1000</td>
              <td>₹ 1500</td>
              <!--               <td>₹ 2250</td>
 -->
            </tr>
            <tr>
              <td>Participating</td>
              <td>₹ 750</td>
              <td>₹ 1250</td>
              <td>₹ 1750</td>

              <!--               <td>₹ 2000</td>
 -->
            </tr>
            <tr>
              <td rowspan="2">Domestic Staff</td>
              <td>Presenting<span class="redApply">**</span></td>
              <td>₹ 1500</td>
              <td>₹ 2000</td>
              <td>₹ 2500</td>
              <!--               <td>₹ 3000</td>
 -->

            </tr>
            <tr>

              <td>Participating</td>
              <td>₹ 2000</td>
              <td>₹ 2500</td>
              <td>₹ 3000</td>
              <!--               <td>₹ 3500</td>
-->

            </tr>


            <tr>
              <td rowspan="2">International Student</td>



              <td>Presenting<span class="redApply">**</span></td>
              <td colspan="4">$ 200</td>

            </tr>
            <tr>
              <td>Participating</td>
              <td colspan="4">$ 150</td>

            </tr>


            <tr>
              <td rowspan="2">International Staff</td>


              <td>Presenting<span class="redApply">**</span></td>
              <td colspan="4">$ 100</td>
            </tr>
            <tr>



              <td>Participating</td>
              <td colspan="4">$ 75</td>



            </tr>

            <tr>
              <td rowspan="2">Industry</td>

              <td>Indian</td>
              <td colspan="4">₹ 5000</td>

            </tr>
            <tr>
              <td>Foreign</td>
              <td colspan="4">$ 200</td>

            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>




</div>