<br>
<div class="container">
  <!-- Stack the columns on mobile by making one full-width and the other half-width -->
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">


          <h4>
            Registration Fee Structure</h4>
          <ul>
            <li>To participate in the conference every one should register first</li>
            <li>Since the conference is going to held virtually there is no concession fee or member fee
            </li>

            <li>If you are an Oral Presenter or as a Poster presenter you should register as a delegate/student.
            </li>
            <li>If you are a listener you should register as an attendee.
            </li>
            <li>The registration fee is based on your citizenship.
            </li>
            <li>The postdoc will not be considered as a student.
            </li>
          </ul>
        </div>

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

          <h4>
            Registration Fee Structure</h4>
          <ul>
            <li>The fee will be collected through online banking </li>
            <li>The banking details and registration form will be updated soon</li>

            <li>The fee structure is divided into four slabs</li>
            <li>The fee for the slab 1 is a reduced fee for the first 25 registration (1-25) in each category</li>
            <li>The fee will be increased for slab 2 for the next 25 registration (26-50) in each category</li>
            <li>Similarly, the fee will be increased for slab 3 and slab 4 </li>
            <li>Number registration will be updated regularly at 11 pm once the registration is open</li>
          </ul>
        </div>

      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
      <h4> Conference Registration Fee Overview </h4>

      <div table-responsive>
        <table class="table table-striped">
          <thead class="thead-light">
            <tr>
              <th scope="col" rowspan="2">Type</th>

              <th scope="col" rowspan="2">Category</th>
              <th scope="col" colspan="4">Slabs</th>
            </tr>

            <tr>

              <th scope="col">1</th>
              <th scope="col">2</th>
              <th scope="col">3</th>
              <th scope="col">4</th>
            </tr>

          </thead>
          <tbody>
            <tr></tr>
            <tr>
              <td rowspan="2">Domestic Student</td>

              <td>Attendee</td>
              <td>₹ 750</td>
              <td>₹ 1250</td>
              <td>₹ 1750</td>
              <td>₹ 2250</td>
            </tr>
            <tr>

              <td>Presenting</td>
              <td>₹ 500</td>
              <td>₹ 1000</td>
              <td>₹ 1500</td>
              <td>₹ 2000</td>
            </tr>
            <tr>
              <td rowspan="2">Domestic Staff</td>

              <td>Attendee</td>
              <td>₹ 2000</td>
              <td>₹ 2500</td>
              <td>₹ 3000</td>
              <td>₹ 3500</td>
            </tr>
            <tr>
              <td>Presenting</td>
              <td>₹ 1500</td>
              <td>₹ 2000</td>
              <td>₹ 2500</td>
              <td>₹ 3000</td>
            </tr>


            <tr>
              <td rowspan="2">International Student</td>

              <td>Attendee</td>
              <td colspan="4">$ 150</td>

            </tr>
            <tr>
              <td>Presenting</td>
              <td colspan="4">$ 200</td>

            </tr>


            <tr>
              <td rowspan="2">International Staff</td>

              <td>Attendee</td>
              <td colspan="4">$ 150</td>

            </tr>
            <tr>
              <td>Presenting</td>
              <td colspan="4">$ 200</td>

            </tr>

            <tr>
              <td rowspan="2">Industry</td>

              <td>Indian</td>
              <td colspan="4">₹ 500</td>

            </tr>
            <tr>
              <td>Foreign</td>
              <td colspan="4">$ 200</td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>




</div>