table, td, th {
  border: 1px solid #dee2e6;
  vertical-align: middle;
  text-align: center;
}
.table100, .row, .container, .table-responsive, .table-bordered  {
  height: 100%;
}

.redApply{

color: red;
}